@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue-Regular.woff') format('woff'),
       url('../fonts/HelveticaNeue-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'NewsCycle';
	src: url('../fonts/NewsCycle-Bold.woff') format('woff'),
       url('../fonts/NewsCycle-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'NewsCycle';
	src: url('../fonts/NewsCycle-Regular.woff') format('woff'),
       url('../fonts/NewsCycle-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}