.about{
  &__wrapper{
    margin-top: 8.3rem;
  }
  &__top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2222rem;
  }
  &__left{
    font-size: 0.888rem;
    line-height: 1.2em;
    img{
      margin-top: 2.22rem;
      float: right;
      width: 6.6666rem;
      height: 8.8888rem;
      object-fit: cover;
    }
  }
  &__list{
    margin-top: 2.222rem;
    display: grid;
    column-gap: 1.1111rem;
    font-size: 0.8889rem;
    line-height: 1.2em;
    grid-template-columns: repeat(2, minmax(100px, max-content));
  }
  &__text{
    margin-top: 2.2222rem;
    font-size: 1rem;
    line-height: 1.25em;
    letter-spacing: -0.03em;
    p{
      margin-top: 1.1111rem;
    }
    button{
      margin-top: 1.1111rem;
      font-size: 1rem;
      line-height: 1.25em;
      letter-spacing: -0.03em;
      position: relative;
      &::after{
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        bottom: 2px;
        height: 1px;
        background-color: var(--colorMain);
      }
    }
  }
  &__images{
    margin-top: 5.444rem;
    display: flex;
    gap: 0.5556rem;
    align-items: flex-start;
    font-size: 0.8888rem;
    line-height: 1.2em;
  }
  &__img{
    width: calc(33.333% - 100px - 16.777px);
    &:nth-child(2n){
      width: 300px;
      flex-shrink: 0;
    }
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
      height: 16.6667rem;
    }
    p{
      margin-top: 0.2778rem;
      display: flex;
      justify-content: space-between;
      align-items:flex-start;
      span{
        flex-shrink: 0;
      }
    }
    &:nth-child(2n){
      
      img{
        height: 22.2222rem;
      }
    }
    &:nth-child(4n){
      img{
        height: 12.2222rem;
      }
    }
  }
  &__info{
    margin-top: 2.222rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    font-size: 0.8888rem;
    line-height: 1.2em;
    position: relative;
    span{
      position: absolute;
      color: var(--colorMain);
      left: -10%;
      top: 0;
      transform: translateX(-50%);
    }
    p{
      max-width: 11.667rem;
      position: relative;
    }
  }
  @media(max-width:1400px){
    &__wrapper{
      padding: 0 40px;
    }
  }
  @media(max-width:1200px){
    &__images{
      flex-wrap: wrap;
    }
    &__img{
      &:nth-child(1),
      &:nth-child(3){
        width: calc(50% - 160px);
      }
      &:nth-child(5){
        width: calc(100% - 310px);
      }
    }
  }
  @media(max-width:1000px){
    &__wrapper{
			margin-top: 100px;
		}
    &__left{
      font-size: 14px;
    }
    &__list{
      font-size: 14px;
      column-gap: 20px;
    }
    &__text{
      font-size: 16px;
      line-height: 1.2em;
      button{
        font-size: 16px;
        line-height: 1.2em;
      }
    }
    &__images{
      margin-top: 80px;
      font-size: 14px;
      row-gap: 42px;
    }
    &__img{
      p{
        margin-top: 6px;
      }
    }
    &__info{
      margin-top: 100px;
      font-size: 14px;
      p{
        max-width: 185px;
      }
    }
  }
  @media(max-width: 700px){
    &__wrapper{
      padding: 0 20px;
      margin-top: 80px;
    }
    &__top{
      grid-template-columns: 1fr;
    }
    &__list{
      margin-top: 40px;
    }
    &__images{
      flex-direction: column;
      margin-top: 60px;
      gap: 10px;
    }
    &__img{
      p{
        margin-top: 7px;
      }
      &:nth-child(2n+1){
        width: 100%;
        img{
          width: 100%;
          height: 300px;
        }
      }
      &:nth-child(2n){
        max-width: 300px;
        height: auto;
        img{
          height: 400px;
          width: 100%;
        }
      }
      &:nth-child(4n){
        img{
          height: 220px !important;
        }
      }
    }
    &__info{
      margin-top: 80px;
    }
  }
  @media(max-width:400px){
    &__wrapper{
      padding: 0 16px;
    }
  }
}