.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all linear var(--transitionDuration);
  transform: translateY(-100%);
  &.animated{
    transform: translateY(0);
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  &__logo{
    font-family: var(--fontSecondary);
    font-weight: 700;
    font-size: 40px;
    line-height: 0.9em;
    letter-spacing: -0.03em;
    padding-left: 6px;
    position: relative;
    z-index: 2;
  }
  &__nav{
    ul{
      display: flex;
      gap: 1.1667rem;
      align-items: center;
      font-size: 0.8889rem;
      line-height: 1.2em;
      font-family: var(--fontMain);
      padding-left: 4rem;
    }
  }
  &__time{
  display: none;
  }
  &__right{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__link{
    padding: 0.8333rem 1.1111rem;
    font-size: 0.8889rem;
    line-height: 1.2em;
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
  &__burger{
    display: none;
    flex-shrink: 0;
  }
  @media(max-width:1600px){
    &__nav{
      ul{
        padding-left: 62px;
      }
    }
  }
  @media(max-width:1000px){
    &__menu{
      position: absolute;
      top: 0;
      left: 0;
      align-items:center;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      background:var(--colorWhite);
      padding-top: 120px;
      padding-bottom: 50px;
      transform: translateX(-100%);
      transition: all linear var(--transitionDuration);
      &.active{
        transform: translateX(0);
      }
    }
    &__nav{
      ul{
        flex-direction: column;
        gap: 10px;
        padding: 0;
      }
    }
    &__time{
      display: flex;
      flex-direction: column;
      align-items:center;
      p{
        font-size: 16px;
        line-height: 1.2em;
        margin-bottom: 10px;
      }
      span{
        font-size: 14px;
        line-height: 1.2em;
      }
    }
    &__link{
      font-size: 14px;
      padding: 15px 20px;
    }
    &__burger{
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 29px;
        height: 3px;
        border-radius: 2px;
        background-color: var(--colorMain);
        transition: all linear var(--transitionDuration);
      }
      &::before{
        content:'';
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 29px;
        height: 3px;
        border-radius: 2px;
        background-color: var(--colorMain);
        transition: all linear var(--transitionDuration);
      }
      &::after{
        content:'';
        position: absolute;
        bottom: 9px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 29px;
        height: 3px;
        border-radius: 2px;
        background-color: var(--colorMain);
        transition: all linear var(--transitionDuration);
      }
      &.active{
        span{
          opacity: 0;
        }
        &::before{
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after{
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}